<![CDATA[<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/achamma/" target="_blank">Charlotte.edu</a>
        ||
        <a href="https://github.com/AbbadCha/AbbadCha.github.io" target="_blank">GitHub</a>
        ||
        <a href="https://abbadcha.github.io/itis3135/index.html" target="_blank">ITIS3135.io</a>
    </nav>
    <p>Page Built by <a href="../chammaenterprises.co">Chamma Enterprises</a> | &copy;2024</p>
    <a href="https://validator.w3.org/check?uri=" id="validation_link_html" target="_blank">HTML Validation</a>
    ||
    <a href="https://jigsaw.w3.org/css-validator/validator?uri=" id="validation_link_css" target="_blank">CSS Validation</a>
</footer>]]>
