    <footer>
      <nav>
        <a href="https://webpages.charlotte.edu/achamma/">Charlotte.edu</a>
        ||
        <a href="https://github.com/AbbadCha/AbbadCha.github.io">GitHub</a>
        ||
        <a href="https://abbadcha.github.io/itis3135/index.html">ITIS3135.io</a>
        ||
        <a href="https://www.freecodecamp.org/Abbadch">FreeCodeCamp</a>
        ||
        <a href="https://www.codecademy.com/profiles/Abbadch">Codecademy</a>
        ||
        <a href="http://www.linkedin.com/in/abbad-chamma">LinkedIn</a>
      </nav>
      <p>Page Built by <a href="AweosomeCat.com/index.html">AweosomeCat Enterprises</a> | &copy;2023</p>
    </footer>
