    <footer>
      <nav>
        <a href="https://webpages.charlotte.edu/achamma/">Charlotte.edu</a>
        ||
        <a href="https://github.com/AbbadCha/AbbadCha.github.io">GitHub</a>
        ||
        <a href="https://abbadcha.github.io/itis3135/index.html">ITIS3135.io</a>
        ||
        <a href="https://www.freecodecamp.org/Abbadch">FreeCodeCamp</a>
        ||
        <a href="https://www.codecademy.com/profiles/Abbadch">Codecademy</a>
        ||
        <a href="http://www.linkedin.com/in/abbad-chamma">LinkedIn</a>
      </nav>
      <p>Page Built by <a href="AweosomeCat.com/index.html">AweosomeCat Enterprises</a>, <a href="https://www.freecodecamp.org/certification/Abbadch/javascript-algorithms-and-data-structures-v8">Certified in JavaScript Algorithms & Data Structures</a> | &copy;2025</p>
      <p>
        <a href="https://validator.w3.org/check?uri=referer" target="_blank" rel="noopener noreferrer">
          <img src="images/button-valid-html5.gif" width="88" height="31" alt="Link to HTML validator">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank" rel="noopener noreferrer">
          <img src="images/button-valid-css.gif" width="88" height="31" alt="Link to CSS validator">
        </a>
      </p>
    </footer>
